body {
    background-color: powderblue;
}
h1 {
    color: blue;
    float: left;
}
p {
    color: red;
}

#b01{
	color: red;
	float: right;
	margin-right: 100px;
}

select {
	color: blue;
	float: left;
	margin-left: 0px;
}